<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Bashayer Hijji</title>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/application.css" media="screen" title="no title" charset="utf-8">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="main_navigation" class="clearfix">
      <a href="index.html" class="name">Bashayer Hijji</a>
      <nav>
        <%= link_to "Articals", posts_path %>

        <a href="projects.html">مشاريع</a>
        <a href="contacts.html">للتواصل معي</a>
      </nav>
    </header>

<%= yield %>

</body>
</html>
